<div *ngIf="type == 'add'" class="add_cat">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="categoryForm">
      <!-- <input type="text" formControlName="categoryName">
      {{categoryForm.controls.categoryName.valid}} -->
      <div class="form-group">
        <label for="exampleInputEmail1"> Category Name</label>
        <app-input-type
          [control]="categoryForm.get('category_name')"
          [data]="categoryNameInput"
          [input_class]="'form-data'"
        >
        </app-input-type>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Category Description</label>
        <app-textarea
          [control]="categoryForm.get('category_description')"
        ></app-textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Category Status</label>
        <app-select
          [control]="categoryForm.get('status')"
          [selectData]="statusOptions"
          key="state"
        ></app-select>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <app-button
      [btn_class]="'positive'"
      *ngIf="buttons.add"
      (click)="onCreate()"
    >
      Add
    </app-button>
    <app-button
      [btn_class]="'negative'"
      *ngIf="buttons.cancel"
      (click)="onClose()"
    >
      Cancel
    </app-button>
  </div>
</div>

<div *ngIf="type == 'edit'" class="edit_cat">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="categoryForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Category Name</label>
        <app-input-type
          [control]="categoryForm.get('category_name')"
          [data]="categoryNameInput"
          [input_class]="'form-data'"
        >
        </app-input-type>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Category Description</label>
        <app-textarea
          [control]="categoryForm.get('category_description')"
        ></app-textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Category Status</label>
        <app-select
          [control]="categoryForm.get('status')"
          [selectData]="statusOptions"
          key="state"
        ></app-select>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <app-button
      [btn_class]="'positive'"
      *ngIf="buttons.edit"
      (click)="onEdit()"
    >
      Save
    </app-button>
    <app-button
      [btn_class]="'negative'"
      *ngIf="buttons.cancel"
      (click)="onClose()"
    >
      Cancel
    </app-button>
  </div>
</div>

<div *ngIf="type == 'view'" class="view_cat">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><span>Category Name:</span> {{ data.category_name }}</p>
    <p><span>Category Description:</span> {{ data.category_description }}</p>
    <p><span>Category Status:</span> {{ data.status }}</p>
  </div>

  <div class="modal-footer">
    <app-button
      [btn_class]="'negative'"
      *ngIf="buttons.cancel"
      (click)="onClose()"
    >
      Cancel
    </app-button>
  </div>
</div>


<ngx-loader
[show]="loaderShow"
[fullScreen]="fullScreen"
[template]="loaderTemplate">
Loading...
</ngx-loader>