<div class="header">
    <div class="headerInfo">
        <div class="menu">
            <ul>
                <li>
                    <i class="fa fa-home" aria-hidden="true"></i> <a [routerLink]="['/home']">home</a>
                </li>
                <!-- <li>
                    <a>Employee Name</a>
                </li> -->
                <li>
                    <i class="fa fa-tachometer" aria-hidden="true"></i><a routerLink="/dashboard">Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-user" aria-hidden="true"></i><a (click)="viewDetails()">Profile</a>
                </li>
            </ul>
        </div>
        <div class="logStatus">
            <i class="fa fa-sign-in" aria-hidden="true"></i> <a [routerLink] ="['/login']">login/logout</a>
        </div>
    </div>
</div>