<div class="header">
    <div class="headerInfo">
        <ul>
            <li>
                <a [routerLink]="['/home']">home</a>
            </li>
            <li>
                <a>Employee Name</a>
            </li>
            <li>
                <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li>
                <a (click)="viewDetails()">Profile</a>
            </li>
            <li>
                <a>login/logout</a>
            </li>
        </ul>
    </div>
</div>