<div class="col-md-2 slidebar">
  <ul id="adminmenu">
    <li>
      <ul class="sub_nav">
        <li>
          <a [routerLink]="['/admin/dashboard']"
            ><i class="fa fa-tachometer"></i> Dashboard</a
          >
        </li>
      </ul>
    </li>
    <li>
      <ul class="sub_nav">
        <li>
          <a [routerLink]="['/admin/categories']"
            ><i class="fa fa-list-alt" aria-hidden="true"></i> Categories</a
          >
        </li>
      </ul>
    </li>
    <li>
      <ul class="sub_nav">
        <li>
          <a [routerLink]="['/admin/products']"
            ><i class="fa fa-plus" aria-hidden="true"></i> Products</a
          >
        </li>
      </ul>
    </li>
    <li>
      <ul class="sub_nav">
        <li>
          <a [routerLink]="['/admin/orders']"
            ><i class="fa fa-eye" aria-hidden="true"></i> Orders</a
          >
        </li>
      </ul>
    </li>
    <li>
      <ul class="sub_nav">
        <li>
          <a [routerLink]="['/admin/employee']"
            ><i class="fa fa-user" aria-hidden="true"></i> Employee</a
          >
        </li>
      </ul>
    </li>
    <li>
      <ul class="sub_nav">
        <li>
          <a [routerLink]="['/admin/coupons']"
            ><i class="fa fa-user" aria-hidden="true"></i>Coupons</a
          >
        </li>
      </ul>
    </li>
  </ul>
</div>
