<app-header></app-header>
<div class="col-md-12">
  <div class="row">
    <div class="sidebar col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="dashboard col-md-10">
      <div class="dashboard-details">
        <div class="dashboardDetails">
          <h3>Employee Details :</h3>
          <div class="searchOrders">
            <form [formGroup]="searchForm">
              <div class="searchDetails">
                <div class="selectDate">
                  <app-search-by-date (orders)="getOrders($event)"></app-search-by-date>
                </div>
                <div class="selectEmployee">
                  <p>Employee name:</p>
                  <div class="selectBox">
                    <app-select (change)="employeeSelect($event)" [control]="searchForm.get('employee_id')"
                      [selectData]="selectEmployee" key="employee_name" select_value="_id" type="selectById">
                    </app-select>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="employeegraph">
          <div class="employeeDetailsTable tableInfo">
            <app-tables [data]="dashboardData" [columns]="columns"></app-tables>
          </div>
          <div>
            <div [chart]="chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-loader [show]="loaderShow" [fullScreen]="fullScreen" [template]="loaderTemplate">
  Loading...
</ngx-loader>