<app-header></app-header>
<div class="row">
  <div class="sidebar col-md-2">
    <app-sidebar></app-sidebar>
  </div>

  <div class="dashboard col-md-10">
    <div class="dashboard-details">
      <div class="couponHeading">
        <h3>All Coupon details </h3>
        <app-button (click)="opendialog($event)" [btn_class]="'login_btn'">
          Add New 
        </app-button>
      </div>
      <ngx-loader [show]="loaderShow" [template]="loaderTemplate">
        Loading...
      </ngx-loader>
  <div class="tableInfo">
    <app-tables (onDelete)="deleteCoupons($event)" (onEdit)="editCoupons($event)" (onView)="viewCoupons($event)"
    [data]="coupons" [columns]="columns" [actions]="actions"></app-tables>
  </div>
    </div>
  </div>
</div>