<app-header></app-header>
<div class="row">
  <div class="sidebar col-md-2">
    <app-sidebar></app-sidebar>
  </div>

  <div class="dashboard col-md-10">
    <app-button (click)="opendialog($event)" [btn_class]="'login_btn'">
      Add New
    </app-button>
    <app-tables
      (onDelete)="deleteCoupons($event)"
      (onEdit)="editCoupons($event)"
      (onView)="viewCoupons($event)"
      [data]="coupons"
      [columns]="columns"
      [actions]="actions"
    ></app-tables>
  </div>
</div>
