<app-header></app-header>
<div class="row">
  <div class="sidebar col-md-2">
    <app-sidebar></app-sidebar>
  </div>

  <div class="order-table col-md-10">
    <div class="dashboard-details">
      <h3>Order Details</h3>
      <ngx-loader [show]="loaderShow" [template]="loaderTemplate">
        Loading...
      </ngx-loader>
      <div class="tableInfo">
        <app-tables [data]="orders" [columns]="columns" [actions]="actions" (onEdit)="edit($event)"
        (onDelete)="delete($event)"></app-tables>
      </div>
    </div>
  </div>
</div>