<div *ngIf="type == 'add'" class="add_coupon">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="customerForm">
      <div class="inputFields">
        <div class="form-group inputWidth">
          <label for="exampleInputEmail1">Customer Name</label>

          <app-input-type [control]="customerForm.get('customer_name')" [data]="customerName"
            [input_class]="'form-data'">
          </app-input-type>
        </div>
        <div class="form-group inputWidth">
          <label for="exampleInputEmail1">Customer Mobile</label>

          <app-input-type [control]="customerForm.get('customer_mobile')" [data]="customerMobile"
            [input_class]="'form-data'">
          </app-input-type>
        </div>
      </div>
      <div class="inputFields">
        <div class="form-group inputWidth">
          <label for="exampleInputEmail1">Customer Email</label>

          <app-input-type [control]="customerForm.get('customer_email')" [data]="customerEmail"
            [input_class]="'form-data'">
          </app-input-type>
        </div>

        <div class="form-group inputWidth">
          <label for="exampleInputPassword1">Coupon Status</label>
          <app-select [control]="customerForm.get('status')" [selectData]="statusOptions"
            [valueKey]="{ value: 'state', key: 'state' }"></app-select>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Customer Address</label>
        <app-textarea [control]="customerForm.get('customer_address')">
        </app-textarea>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <app-button [btn_class]="'positive'" *ngIf="buttons.add" (click)="onCreate()">
      Add
    </app-button>
    <app-button [btn_class]="'negative'" *ngIf="buttons.cancel" (click)="onCancel()">
      Cancel
    </app-button>
  </div>
</div>

<div *ngIf="type == 'edit'" class="edit_coupon">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="customerForm">
      <div class="inputFields">
        <div class="form-group inputWidth">
          <label for="exampleInputEmail1">Customer Name</label>

          <app-input-type [control]="customerForm.get('customer_name')" [data]="customerName"
            [input_class]="'form-data'">
          </app-input-type>
        </div>
        <div class="form-group inputWidth">
          <label for="exampleInputEmail1">Customer Mobile</label>

          <app-input-type [control]="customerForm.get('customer_mobile')" [data]="customerMobile"
            [input_class]="'form-data'">
          </app-input-type>
        </div>
      </div>
      <div class="inputFields">
        <div class="form-group inputWidth">
          <label for="exampleInputEmail1">Customer Email</label>

          <app-input-type [control]="customerForm.get('customer_email')" [data]="customerEmail"
            [input_class]="'form-data'">
          </app-input-type>
        </div>

        <div class="form-group inputWidth">
          <label for="exampleInputPassword1">Coupon Status</label>
          <app-select [control]="customerForm.get('status')" [selectData]="statusOptions"
            [valueKey]="{ value: 'state', key: 'state' }"></app-select>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Customer Address</label>
        <app-textarea [control]="customerForm.get('customer_address')">
        </app-textarea>
      </div>

    </form>
  </div>

  <div class="modal-footer">
    <app-button [btn_class]="'positive'" *ngIf="buttons.edit" (click)="onSave()">
      Save
    </app-button>
    <app-button [btn_class]="'negative'" *ngIf="buttons.cancel" (click)="onCancel()">
      Cancel
    </app-button>
  </div>
</div>

<div *ngIf="type == 'view'" class="view_coupon">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><span>Customer Name:</span> {{ data.customer_name }}</p>
    <p><span>Customer Mobile:</span> {{ data.customer_mobile }}</p>
    <p><span>Customer Status:</span> {{ data.status }}</p>
    <p><span>Customer Email:</span> {{ data.customer_email }}</p>
    <p><span>Customer Status:</span> {{ data.status }}</p>
    <p><span>Customer Address:</span> {{ data.customer_address }}</p>
  </div>

  <div class="modal-footer">
    <!-- <app-button [btn_class]="'btn_class'" *ngIf="positive" (click)="onAction()">
        Save
      </app-button> -->
    <app-button [btn_class]="'negative'" *ngIf="buttons.cancel" (click)="onCancel()">
      Cancel
    </app-button>
  </div>
</div>

<ngx-loader [show]="loaderShow" [fullScreen]="fullScreen" [template]="loaderTemplate">
  Loading...
</ngx-loader>