<div class="content logout">
  <div class="container">
    <div class="row">
      <div class="logoutblock col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        <form [formGroup]="forgetPasswordForm" class="ng-untouched ng-pristine ng-valid">
          <div class="card rounded pt-5 pb-5 pl-3 pr-3 border-0">
            <div class="header text-center">Forgot Password?</div>
            <div class="content mb-3">
              <div class="form-group">
                <label>Email</label>
                <app-input-type [data]="email" [control]="forgetPasswordForm.get('email')" [input_class]="'form-data'"></app-input-type>
              </div>
              <!-- <a class="success">Reset link has been sent to your email</a><br/> -->
              <p><a class="backto" [routerLink]="['/login']">Back to Login</a></p>
            </div>
            <div class="footer text-center">
              <app-button (click) ="onSubmit()" [btn_class]="'submitBtn'"> Submit </app-button>
            </div>
            <p class="message" *ngIf="isSent"> <i class="fa fa-check" aria-hidden="true"></i>{{message}}</p>
          </div>
         
        </form>
      </div>
    </div>
  </div>
</div>