<div class="category_body">
  <form [formGroup]="getCategorySearch" *ngIf="search">
    <app-search
      (keyup)="getCategory($event)"
      [control]="getCategorySearch.get('getCategory')"
      [details]="searchDetails"
      className="cat_search"
    >
    </app-search>
  </form>
  <div class="category_row">
    <app-button [btn_class]="'addButton'" (click)="searchBar();"
      ><i class="fa fa-search" aria-hidden="true"></i>
    </app-button>
    <app-button
      *ngFor="let category of categories | filter :searchCategoryBy:'category_name'"
      [class.selected]="selected"
      [ngClass]="{'highlight': category._id == id}"
      [btn_class]="'product'"
      (click)="selectCategory(category)"
      >{{category.category_name}}</app-button
    >
  </div>
  <div class="products_row">
    <app-products [products]="products"></app-products>
  </div>
  <div class="footer_btn">
    <div class="save">
      <app-button [btn_class]="'saveSale'">Save</app-button>
    </div>
    <div class="cancel">
      <app-button [btn_class]="'sale'">Cancel</app-button>
    </div>
    <div class="payment">
      <app-button [btn_class]="'pay'" (click)="proceedtoPay($event)">Proceed to pay</app-button>
    </div>
  </div>
</div>

<ngx-loader
  [show]="loaderShow"
  [fullScreen]="fullScreen"
  [template]="loaderTemplate"
>
  Loading...
</ngx-loader>
