<div class="add_product">
  <div class="modal-header">
    <h4 *ngIf="!isInvoice" class="modal-title" id="modal-basic-title">Select Payment Method</h4>
    <h4 *ngIf="isInvoice" class="modal-title" id="modal-basic-title">Invoice</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form>
    <div *ngIf="!isInvoice" class="modal-body">
      <div class="paymentMethod">
        <div class="radio">
          <p>
            <app-input-type [input_class]="'form-data'" [data]="cash"></app-input-type>
          </p>
          <p>Cash</p>
        </div>
        <div class="radio">
          <p>
            <app-input-type [input_class]="'form-data'" [data]="debitCard"></app-input-type>
          </p>
          <p>Debit Card</p>
        </div>
        <div class="radio">
          <p>
            <app-input-type [input_class]="'form-data'" [data]="creditCard"></app-input-type>
          </p>
          <p>Credit Card</p>
        </div>

      </div>

        <!-- <p>
      <app-input-type [input_class]="'form-data'" [data]="referenceNumber"></app-input-type>
    </p> -->
    </div>

    <div *ngIf="isInvoice" class="modal-body">Order Placed Successfully 
    <p><span>Employee Id :</span>{{employeeId}}</p>
    <p><span>Date :</span>{{orderDate}}</p>
    <p><span>Order Id :</span>{{orderId}}</p>
    <p><span>Order Amount :</span>{{Total}}</p>
  </div>
    <div *ngIf="!isInvoice" class="modal-footer">
      <app-button [btn_class]="'positive'" *ngIf="buttons.confirm" (click)=" Invoice()">
        Confirm
      </app-button>
      <app-button [btn_class]="'negative'" *ngIf="buttons.cancel" (click)="onCancel()">
        Cancel
      </app-button>
    </div>
    <div *ngIf="isInvoice" class="modal-footer">
      <app-button [btn_class]="'negative'" *ngIf="buttons.confirm" (click)="onCancel()">
        Close
      </app-button>
    </div>
  </form>
</div>
<ngx-loader [show]="loaderShow" [fullScreen]="fullScreen" [template]="loaderTemplate">
  Loading...
</ngx-loader>