<div class="order-table customerTable">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let column of employeetableHeadings" scope="col">
          {{ column.label }}
        </th>
        <!-- <th *ngIf="showActions">Actions</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of employeeSales">
        <td *ngFor="let column of employeetableHeadings">
          <p *ngIf="column.isText">
            {{ row[column.field] }}
          </p>
          <p *ngIf="column.isDate">
            {{ row[column.field] | date:shortDate }}
          </p>
          <p *ngIf="column.isPrice">
            <price [price]="row[column.field]"></price>
          </p>
        </td>
        <td *ngIf="showActions">
          <app-button *ngIf="actions.delete" [btn_class]="'delete'" (click)="deleteCustomer(row)"><i
              class="fa fa-trash"></i></app-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>