<div class="order-table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th *ngFor="let column of employeetableHeadings" scope="col">
          {{ column.label }}
        </th>
        <!-- <th *ngIf="showActions">Actions</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of employeeSales">
        <td *ngFor="let column of employeetableHeadings">
          {{ row[column.field] }}
        </td>
        <td *ngIf="showActions">
          <app-button
            *ngIf="actions.delete"
            [btn_class]="'delete'"
            (click)="deleteCustomer(row)"
            ><i class="fa fa-trash"></i
          ></app-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
