<div class="content reset">
    <div class="container">
      <div class="row">
        <div class="loginForm col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3 m-auto">
          <form [formGroup]="resetForm" novalidate class="ng-untouched ng-pristine ng-valid">
            <div class="card rounded pt-5 pb-5 pl-3 pr-3 border-0">
              <div class="header text-center">Reset Password</div>
              <div class="content mb-3">
                <div class="form-group">
                  <label>Password</label>
                  <app-input-type [data]="username" [control]="resetForm.get('password')" [input_class]="'password'">
                  </app-input-type>
                </div>
                <div class="form-group">
                  <label>Confirm Password</label>
                  <app-input-type [data]="password" [control]="resetForm.get('confirmPassword')" [input_class]="'confirmPassword'">
                  </app-input-type>
                </div>
                <div class="forget form-group">
                  <!-- <div class="checkbox">
                    <input checked="" id="checkbox" type="checkbox" />
                    <label for="checkbox"> Remember Me</label> -->
                  </div>
                  <!-- <div class="forgetPassword">
                    <a [routerLink]="['/forget-password']">Forgot password ?</a>
                  </div> -->
                </div>
                <div class="footer text-center">
                  <app-button  [btn_class]="'submitBtn'">Login</app-button>
                </div>
              </div>
         
              <!-- <p>{{errorMessage}}</p> -->
          </form>
         
        </div>
      </div>
    </div>
  </div>
  <!-- <ngx-loader [show]="loaderShow" [fullScreen]="fullScreen" [template]="loaderTemplate">
    Loading...
  </ngx-loader> -->
