<div class="table">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let column of columns">
          <a class="link">{{ column.label }}</a>
        </th>
        <th *ngIf="showActions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data; let iseven = even">
        <td *ngFor="let column of columns">
          <p *ngIf="column.isPrice">
            <price [price]="row[column.field]"></price>
          </p>
          <p *ngIf="column.isText">
            {{ row[column.field] }}
          </p>
          <p *ngIf="column.isDate">
            {{ row[column.field] | date: shortDate }}
          </p>
          <p *ngIf="column.isImage">
            <img src="{{imageUrl}}{{ row[column.field] }}" width="80" alt="{{ row[column.field] }}" />
          </p>
          <p>
            <div *ngIf="column.isCoupon">
              <p *ngIf="!row[column.field]">--</p>
            </div>
            <p *ngIf="column.description" title="{{row[column.field]}}">
              {{ row[column.field] | range:20}}
            </p>
        </td>
        <td *ngIf="showActions">
          <div class="btnActions">
            <app-button [btn_class]="'actionBtns'" *ngIf="actions.delete" (click)="delete(row)"><i
                class="fa fa-trash"></i>
            </app-button>
            <app-button [btn_class]="'actionBtns'" *ngIf="actions.edit" (click)="edit(row)">
              <i class="fa fa-edit"></i>
            </app-button>
            <app-button [btn_class]="'actionBtns'" *ngIf="actions.view" (click)="view(row)">
              <i class="fa fa-eye"></i>
            </app-button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>