<div class="order-table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">qty</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{item.product_name}}</td>
                <td class="qty"><input type="text" [value]="item.qty" (change)="updateQty($event, item)"></td>
                <td><price [price]="item.product_price"></price></td>
                <td scope="row"><i class="fa fa-trash-o" aria-hidden="true" (click)="delete(item)"></i></td>
            </tr>
        </tbody>
    </table>
</div>