<app-card>
    <img (click)="showDialog(product)"  class="card-img-top" src="{{imageUrl}}{{product.product_image}}" alt="Card image cap">
    <div class="card-body">
        <div class="add">
            <p class="card-text"><price [price]="product.product_price"></price></p>
            <p title="add" (click)="addItem(product)">+1</p>
        </div>
    </div>
    <p (click)="showDialog(product)" title="{{product.product_name}}" class="productName">{{product.product_name | range:9}}</p>
</app-card>