::ng-deep .login_btn .btn{
        background-color: #fb404b !important;
        color: #fff !important;
        border-radius: 3px !important;
        padding: 7px 40px !important;
        font-weight: 500 !important;
        width: 41% !important;
        height: 40px !important;
        margin-top: 20px;
}