<div class="content login">
  <div class="container">
    <div class="row">
      <div class="loginForm col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3 m-auto">
        <form [formGroup]="loginForm" novalidate class="ng-untouched ng-pristine ng-valid">
          <div class="card rounded pt-5 pb-5 pl-3 pr-3 border-0">
            <div class="header text-center">Login</div>
            <div class="content mb-3">
              <div class="form-group">
                <label>{{ data.label }}</label>
                <app-input-type [data]="email" [control]="loginForm.get('email')" [input_class]="'email'"></app-input-type>
              </div>
              <div class="form-group">
                <label>Password</label>
                <app-input-type [data]="password"  [control]="loginForm.get('password')" [input_class]="'pwd'"></app-input-type>
              </div>
              <div class="forget form-group">
                <div class="checkbox">
                  <input checked="" id="checkbox" type="checkbox" />
                  <label for="checkbox"> Remember Me</label>
                </div>
                <div class="forgetPassword">
                  <a [routerLink]="['/admin/forgot_password']">Forgot password ?</a>
                </div>
              </div>
            </div>
            <div class="footer text-center">
              <app-button (click)="adminLogin()" [btn_class]="'loginBtn'"> Login </app-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>