<div class="coupons">
    <div *ngIf="!isCouponActivated()" class="couponDetails">
        <p>Enter Coupon :</p>
        <form [formGroup]="applyCoupon">
          <div class="applyCouponInput">
            <app-input-type [data]="couponDetailsInput"
            [control]="applyCoupon.get('coupon')" [input_class]="'couponInput'">
        </app-input-type>
          </div>
            <div class="applyCouponButton">
                <app-button class="applyCouponBtn" (click)="addCoupon()">Apply</app-button>
            </div>
        </form>

    </div>
    <!-- <ng-container *ngIf="couponsDropDown">
        <div class="couponsList" >
            <p *ngFor="let coupon of coupons" (click)="apply(coupon)">{{coupon.coupon_name }}</p>
        </div>
    </ng-container> -->

</div>
<ng-container *ngIf="isCouponActivated()">
    <div class="couponMsg">
        <p>Coupon added successfully</p>
        <p>
            <i (click)="removeCoupon()" class="fa fa-times-circle" aria-hidden="true"></i>
        </p>
    </div>
    <div class="discount">
        <h6>
            Discount Price: {{ couponDetails.coupon_discount }}%
        </h6>
        <h6>
            <price [price]="couponDetails.coupon_discount_price"></price>
        </h6>
    </div>
</ng-container>