<div class="inputData" [ngClass]="input_class">
  <input [attr.list]="dataListID" autocomplete="off" [formControl]="control" [type]="data.type"
    [placeholder]="data.placeholder" [name]="data.name">
  <datalist class="list" *ngIf="isDataList" [id]="dataListID">
    <option *ngFor="let data of dataListOptions" [value]="data">
  </datalist>
</div>
<ng-container *ngIf="control && control.touched && control.errors">
  <div class="errMsg" *ngIf="control.errors.required">* {{data.field}} is required.</div>
  <div class="errMsg" *ngIf="control.errors?.maxlength">*{{data.field}} length less than or equals to
    {{control.errors?.maxlength.requiredLength}}.</div>
    <div class="errMsg" *ngIf="control.errors?.minlength">{{data.field}} should be minimum {{control.errors?.minlength.requiredLength}}</div>
    <div class="errMsg" *ngIf="control.errors.pattern">Enter valid {{data.field}}</div>
</ng-container>