.dateSearch{
    margin-top: 20px;
    display: flex;
    align-items: center;
    .dateFrom{
        align-items: center;
        p,h6{
            margin-right: 12px;
            margin-bottom: 0;
        }
        display: flex;
    }
    .dateTo{
        align-items: center;
        p,h6{
            margin-right: 12px;
            margin-bottom: 0;
        }
        display: flex;
    }
}
::ng-deep{
    .fromDate, .toDate{
        input[type="date"]{
            cursor: pointer;
        }
    }
    .sortDate button.btn.btn-primary {
        margin-bottom: 0;
        height: 35px;
        width: 85px;
        background-color: #a5c536;
        padding: 0;

    }
}