<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{productData.product_name}}</h4>
  <button type="button" aria-label="Close" (click)="dismiss()">
    <span class="close" aria-hidden="true">x</span>
  </button>
</div>
<div class="modal-body">
  <div class="productDetails">
    <div class="productImage">
      <p>
        <img src="{{imageUrl}}{{productData.product_image}}" alt="product" width="100">
      </p>
    </div>
    <div class="description">
      <h5>
        Description:
      </h5>
      <p class="product-description">
        {{productData.product_description}}
      </p>
    </div>
  </div>
  <div class="productPrice">
    <h5>
      Price : <span><price [price]="productData.product_price"></price></span>
    </h5>
  </div>
</div>

<div class="modal-footer">
  <app-button *ngIf="buttons.add" (click)="addProduct(productData)" [btn_class]="'positive'">{{buttons.add}}
  </app-button>
  <app-button *ngIf="buttons.cancel" (click)="onAction({negative:1})" [btn_class]="'negative'">{{buttons.cancel}}
  </app-button>
  <app-button *ngIf="buttons.back" (click)="onAction({neutral:1})" [btn_class]="'neutral'">{{buttons.back}}</app-button>
</div>