<div *ngIf="type == 'add'" class="add_coupon">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="couponForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Coupon Code</label>

        <app-input-type [control]="couponForm.get('coupon_name')" [data]="coupon_name" [input_class]="'form-data'">
        </app-input-type>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Coupon Description</label>
        <app-textarea [data]="couponDescription" [control]="couponForm.get('coupon_description')"></app-textarea>
      </div>
      <div class="inputFields">
        <div class="form-group inputWidth">
          <label for="exampleInputPassword1">Coupon Discount(%)</label>
          <app-input-type [control]="couponForm.get('coupon_discount')" [data]="coupon_discount"
            [input_class]="'form-data'">
          </app-input-type>
        </div>
        <div class="form-group inputWidth">
          <label for="exampleInputPassword1">Coupon Status</label>
          <app-select [control]="couponForm.get('coupon_status')" [selectData]="statusOptions"
            [valueKey]="{ value: 'state', key: 'state' }"></app-select>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <app-button [btn_class]="'positive'" *ngIf="buttons.add" (click)="onCreate()">
      Add
    </app-button>
    <app-button [btn_class]="'negative'" *ngIf="buttons.cancel" (click)="onCancel()">
      Cancel
    </app-button>
  </div>
</div>

<div *ngIf="type == 'edit'" class="edit_coupon">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="couponForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Coupon Code</label>

        <app-input-type [control]="couponForm.get('coupon_name')" [data]="coupon_name" [input_class]="'form-data'">
        </app-input-type>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Coupon Description</label>
        <app-textarea [data]="couponDescription" [control]="couponForm.get('coupon_description')"></app-textarea>
      </div>
      <div class="inputFields">
        <div class="form-group inputWidth">
          <label for="exampleInputPassword1">Coupon Discount(%)</label>
          <app-input-type [control]="couponForm.get('coupon_discount')" [data]="coupon_discount"
            [input_class]="'form-data'">
          </app-input-type>
        </div>
        <div class="form-group inputWidth">
          <label for="exampleInputPassword1">Coupon Status</label>
          <app-select [control]="couponForm.get('coupon_status')" [selectData]="statusOptions"
            [valueKey]="{ value: 'state', key: 'state' }"></app-select>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <app-button [btn_class]="'positive'" *ngIf="buttons.edit" (click)="onSave()">
      Save
    </app-button>
    <app-button [btn_class]="'negative'" *ngIf="buttons.cancel" (click)="onCancel()">
      Cancel
    </app-button>
  </div>
</div>

<div *ngIf="type == 'view'" class="view_coupon">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><span>Coupon Code:</span> {{ data.coupon_name }}</p>
    <p><span>Coupon Discount:</span> {{ data.coupon_discount }}</p>
    <p><span>Coupon Status:</span> {{ data.coupon_status }}</p>
  </div>

  <div class="modal-footer">
    <!-- <app-button [btn_class]="'btn_class'" *ngIf="positive" (click)="onAction()">
      Save
    </app-button> -->
    <app-button [btn_class]="'negative'" *ngIf="buttons.cancel" (click)="onCancel()">
      Cancel
    </app-button>
  </div>
</div>

<ngx-loader [show]="loaderShow" [fullScreen]="fullScreen" [template]="loaderTemplate">
  Loading...
</ngx-loader>