<app-header></app-header>

<div class="dashboard-main">
  <div class="dateSearch">
    <app-search-by-date (orders)="getOrders($event)"></app-search-by-date>
  </div>
  <div class="customerTable">
    <!-- <app-customer-orders [customerData]="orderDetailsData" [customerTableHeadings]="customerTableHeadings"></app-customer-orders> -->
    <div class="dashboard">
      <div class="graph">
        <div [chart]="chart"></div>
      </div>
      <div class="customer-table">

        <app-employee-sales-table [employeetableHeadings]="employeetableHeadings" [employeeSales]="ordersData">
        </app-employee-sales-table>
      </div>

    </div>
  </div>
  <!-- <div *ngIf="employeeSales" class="employeeSales">
    <app-employee-sales-table [employeetableHeadings]="employeetableHeadings" [employeeSales]="employeeSales">
    </app-employee-sales-table>
  </div>
</div> -->

<ngx-loader [show]="loaderShow" [fullScreen]="fullScreen" [template]="loaderTemplate">
  Loading...
</ngx-loader>