.dashboard-main {
    width: 1220px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    .dateSearch{
        padding: 20px 25px;
        border: 1px solid #eee;
    }
    .customerTable {
        padding: 20px 25px;
    }
    h3{
        font-size: 20px;
        font-weight: 600;
    }
}
.dashboard {
    display: flex;
    .customer-table {
        width: 60%;
    }
    .graph {
        width: 40%;
        border: 1px solid #eee;
    }
}
.container{
    padding: 0 !important;
}